@import url('https://fonts.googleapis.com/css2?family=Lato:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,700&display=swap');

:root {
    font-size:1.5em;
    font-family: 'Lato', sans-serif;
    --yellow: #ffc600;
    --black: #272727;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
    display:grid;
    margin:0;
    padding:0;
}

.container {
    min-height:100vh;
    display:grid;
}

.gallery {
    display:grid;
    gap:2rem;
    margin:1rem;
    grid-template-columns: repeat(auto-fill, minmax(300px, 3fr));
    grid-template-rows:100px repeat(6, auto);
    grid-auto-flow:dense;
    justify-content:center;
}


.title {
    grid-column:1 / -1;
    grid-row:span 2;
    font-family: 'Lato', sans-serif;
    font-weight:700;
    font-size:2.2em;
    text-align:center;
    position:relative;
}

.item {
    max-width:20rem;
    display:grid;
    text-decoration: none;
    text-transform:uppercase;
    color:var(--black);
    opacity:1;
    justify-content: center;
    align-content:center;
    transition:0.5s;
}

.item:hover {
    color:var(--yellow);
    background:var(--black);
}

.item3, .item5, .item7 {
    border:5px solid var(--yellow);
}

img {
    overflow:none;
    width:100%;
}

footer {
    grid-template-rows: repeat(3, 2fr);
}

.item.github {
    grid-column:1 / -1;
    grid-row:span 2;
    display:flex;
    align-items: center;
}